	  <hr width="90%" /><br />

<div class="content">	  
	<div class="row">		
		<div class="span4 columns">
		<h3>Social Media</h3><hr />
	  	<a href="http://twitter.com/thc_fyi">@THC_FYI</a><br />
		<a href="https://youtube.com/thcfyi">THC.fyi Channel</a><br /><br />
		<h3>Deals</h3><hr />
	  	<a href="http://cannasaver.cannapges.com">Cannapages</a><br />
		<a href="http://weedmaps.com">Weedmaps</a><br />
		</div>
		<div class="span4 columns">
			<h3>Culture</h3><hr />
	  	  	<a href="http://leafly.com">Leafly</a><br />
	  		<a href="http://t.co/PnbEYMI2Gl">Cannabist</a><br />
			<a href="http://hightimes.com">High Times</a><br />
			<a href="http://norml.org/aboutmarijuana">NORML</a><br />
			<a href="https://www.coloradopotguide.com">Colorado Pot Guide</a><br />
			<a href="http://www.rollitup.org/"> Rollit Up</a><br />
			<a href="https://www.vice.com/en_us/topic/weediquette"> Weediquette</a><br />
			<a href="https://en.wikipedia.org/wiki/Legal_history_of_cannabis_in_the_United_States">US Legal History of Cannabis</a><br />
			<a href="http://www.westword.com/marijuana">Westword Marijuana</a><br />
			<a href="http://reddit.com/r/trees">/r/trees</a><br /><br />
		</div> 
		<div class="span4 columns">
		  <h3>More by.KG & Ricky Bobby</h3><hr />
  		<a href="http://by.kevingailey.com"> by.KG</a><br />
  		<a href="http://facebook.com/#">Ricky Bobby on Facebook</a><br /><br />
  		<h3>.fyi</h3><hr />
	  	<a href="http://www.marijuana.com/higher-learning/">What is THC? CBD?</a><br />
		<a href="https://www.colorado.gov/marijuanainfodenver/">What is Colorado's Marijuana laws?</a><br />
		<a href="https://www.codot.gov/safety/alcohol-and-impaired-driving/druggeddriving/marijuana-and-driving">Driving and Marijuana</a><br />
		<a href="http://www.thecannabist.co/2014/04/02/edibles-getting-the-right-dose-infused-marijuana-colorado/8543/">How do I dose edibles?</a><br />
		<a href="https://www.youtube.com/watch?v=dPCnw70yADI&feature=youtu.be">How are concentrates made?</a><br />
		<a href="http://howtogrowmarijuana.com/">How To Grow</a><br />
		<a href="https://www.leafly.com/news/politics/many-jobs-depend-legal-cannabis-math">Has marijuana contributed to the economy?</a><br />

						
		</div>		
	</div>
</div>
