	  <hr width="90%" /><br />

<div class="content">	  
	<div class="row">		
		<div class="span4 columns">
		<h3>Social Media</h3><hr />
	  	<a href="http://twitter.com/thc_fyi">@THC_FYI</a><br />
		<a href="https://youtube.com/thcfyi">THC.fyi Youtube Channel</a><br /><br />
		<h3>Deals</h3><hr />
	  	<a href="http://cannasaver.cannapges.com">Cannapages</a><br />
		<a href="http://weedmaps.com">Weedmaps</a><br />
		</div>
		<div class="span4 columns">
			<h3>Culture</h3><hr />
	  	  	<a href="http://leafly.com">Leafly</a><br />
	  		<a href="http://t.co/PnbEYMI2Gl">Cannabist</a><br />
			<a href="http://reddit.com/r/trees">/r/trees</a><br /><br />
		</div> 
		<div class="span4 columns">
		  <h3>More by.KG & Ricky Bobby</h3><hr />
  		  	<a href="http://by.kevingailey.com"> byKG</a><br />
  			<a href="http://facebook.com/#">Ricky Bobby on Facebook</a><br />
  			<a href="http://keybase.io/kevingailey">verify byKG</a><br />		
		</div>		
	</div>
</div>
