<div class="content">	  
	<div class="row">		
		<div class="span4 columns">
	  <hr width="70%" /><br />
	  <h3>Plex</h3>
	  <ul>
	  	<li><a href="http://forums.plex.tv">Plex Forums</a></li>
		<li><a href="http://reddit.com/r/Plex">/r/Plex</a></li>
		<li><a href="http://plex.tv">Plex.tv</a></li>
	  	<li><a href="https://docs.google.com/spreadsheets/d/1MfYoJkiwSqCXg8cm5-Ac4oOLPRtCkgUxU0jdj3tmMPc/edit#gid=314388488">Plex NAS Compatibility</a></li>
		<li><a href="https://www.youtube.com/user/plextvapp">Plex Official Youtube</a></li>
		<li><a href="https://discord.gg/011TFFWSuNFI02EKr#link_discord">Plex on Discord</a></li>
	  </ul>
	  
		</div>
		
		
		<div class="span4 columns"><br />
  		  <hr width="70%" /><br />
		  <h3>Kodi</h3>
  			<ul>
  		  	<li><a href="http://kodi.wiki">Kodi Wiki</a></li>
  			<li><a href="http://reddit.com/r/kodi">/r/Kodi</a></li>
  			<li><a href="http://kodi.tv">Kodi.tv</a></li>
  			<li><a href="https://www.youtube.com/c/TeamKodiOfficial">Team Kodi Official Youtube</a></li>
  			<li><a href="https://twitter.com/KodiTV">@KodiTV</a></li>
  		  </ul>
			
				 
		</div>		
		
		
		
		<div class="span4 columns">
    		  <hr width="70%" /><br />
<h3>More</h3>
	  	  <ul>
	  	  	<li><a href="http://sling.com">SlingTV</a></li>
	  		<li><a href="http://reddit.com/r/cordcutters">/r/Cordcutters</a></li>
	  		<li><a href="http://www.playstationvue.com/">PlayStation Vue</a></li>
	  		<li><a href="https://www.reddit.com/r/cordcutters/wiki/index">Cordcutters Starting Guide</a></li>
	  		<li><a href="simple.tv">SimpleTV</a></li>
	  		<li><a href="tivo.com">TiVo</a></li>
	  		<li><a href="http://www.canistream.it/">CanIStreamIt?</a></li>
	  		<li><a href="http://www.tvtimes.me/">TVTimes</a></li>
	  		<li><a href="http://www.reddit.com/user/redditisonly27people/m/bestinternetvideo">BestInternetVideo Multi-Reddit</a></li>
	  	  </ul>
			
		</div> 
		<div class="span4 columns">
		  		
		</div>		
	</div>
</div>
